.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 72px;
  border-radius: $border-radius;

  color: $title-blue;

  background-color: #fff;

  @include tablet {
    padding-top: 128px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 20px 72px;

    @include tablet {
      padding: 64px 140px 128px;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 137px;
      padding: 64px 55px 135px;
    }

    @include wide {
      padding: 64px 0 135px;
    }
  }

  &__title {
    font-family: $font-base;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    color: $title-blue;
    text-align: center;
    letter-spacing: 0;

    @include tablet {
      height: 68px;
      font-size: 52px;
    }
  }

  &__description {
    margin-bottom: 16px;

    font-family: $font-base;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0;
  }

  &__paragraph {
    font-family: $font-alt;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0;
  }
}

.photos-1 {
  width: 166px;
  height: 166px;
  margin-bottom: 32px;

  background-image: url('../images/background/h2-ph1.png');
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    margin-bottom: 40px;
  }
}

.photos-2 {
  width: 166px;
  height: 166px;
  margin-bottom: 32px;

  background-image: url('../images/background/h2-ph2.png');
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    margin-bottom: 40px;
  }
}

.photos-3 {
  width: 166px;
  height: 166px;
  margin-bottom: 32px;

  background-image: url('../images/background/h2-ph3-mb.png');
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    margin-bottom: 40px;
  }
}

.photo-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 364px;
  margin-bottom: 56px;

  @include tablet {
    margin-bottom: 72px;
  }

  @include desktop {
    max-width: 264px;
    margin-bottom: 0;
  }
}

.photo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 364px;
  margin-bottom: 56px;

  @include tablet {
    margin-bottom: 72px;
  }

  @include desktop {
    max-width: 264px;
    margin-bottom: 0;
  }
}

.photo-3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 364px;
  margin-bottom: 56px;

  @include tablet {
    margin-bottom: 72px;
  }

  @include desktop {
    max-width: 264px;
    margin-bottom: 0;
  }
}
