.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $grey;
  color: #fff;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  padding: 0 20px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0 55px;
    margin: 0 auto;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1148px;

    margin-top: 72px;
    margin-bottom: 80px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      margin-top: 180px;
    }

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      margin: 180px auto 80px auto;
    }

    @include wide {
      margin-bottom: 85px;
      column-gap: 30px;
    }
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 80px;

  @include tablet {
    align-items: start;
    grid-column: 1 / span 4;
    margin-bottom: 120px;
  }

  @include desktop {
    grid-column: 1 / span 5;
  }
}

.form__title {
  font-family: $font-base;
  font-weight: 600;
  max-height: 84px;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0px;
  vertical-align: middle;

  margin-bottom: 48px;

  @include tablet {
    max-height: 48px;
    margin-bottom: 56px;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px orange inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  border-radius: $button-radius;
}

.form__input {
  width: 100%;
  height: 41px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid #fff;
  color: #fff;

  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 48px;
  }

  &:hover {
    border-bottom: 2px solid $blue;
  }

  &::placeholder {
    font-family: $font-base;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #fff;
    opacity: 0.7;
  }

  .form__input--message {
    margin-bottom: 56px;

    @include tablet {
      margin-bottom: 80px;
    }
  }
}

.form__button {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: $blue;
  border: none;
  border-radius: $button-radius;
  font-family: $font-base;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;

  @include tablet {
    width: 264px;
  }

  @include desktop {
    margin-bottom: 16px;
  }

  &:hover {
    transform: scale(1.04);
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-bottom: 80px;

  @include tablet {
    grid-column: 1 / span 4;
    margin-bottom: 140px;
  }

  @include desktop {
    grid-column: 8 / span 5;
    align-self: start;
    margin-bottom: 105px;
  }

  .contact__title {
    font-family: $font-base;
    font-weight: 600;
    max-height: 48px;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0px;
    vertical-align: middle;

    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 56px;
    }
  }

  .contact__titles {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 48px;
    }

    .title {
      font-family: $font-base;
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-transform: uppercase;
      opacity: 50%;
      color: #fff;

      margin-bottom: 8px;
    }

    .title-3 {
      margin-bottom: 16px;
    }

    .contact__text {
      font-family: $font-alt;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0px;
      color: #fff;

      &:hover {
        cursor: pointer;
        color: orange;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .icon__box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;

    margin-left: 32px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transform: scale(1.1);
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  .facebook {
    background-image: url('../images/icons/facebook.png');
  }

  .twitter {
    background-image: url('../images/icons/twitter.png');
    transition: transform 0.3s ease;

    &:hover {
      background-image: url('../images/icons/twitter-1.png');
    }
  }

  .instagram {
    background-image: url('../images/icons/instagram.png');
  }
}

.footer__logo {
  width: 46px;
  height: 28px;

  margin-bottom: 67px;

  @include tablet {
    margin-bottom: 24px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include tablet {
    flex-direction: column;
    grid-column: 1 / -1;
  }

  @include desktop {
    align-items: center;
    flex-direction: row;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;


  @include tablet {
    height: 20px;
    flex-direction: row;
    margin-left: auto;
  }

  .nav__links {
    font-family: $font-base;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

    margin-bottom: 24px;

    @include tablet {
      margin-right: 40px;
    }

    @include desktop {
      margin-right: 64px;
    }

    &:hover {
      color: orange;
      opacity: 50%;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
