.header {
  display: flex;
  flex-direction: column;

  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  font-family: $font-base;
  color: #fff;

  background-color: $grey;

  @include desktop {
    position: relative;
  }

  &__box {
    max-width: 1600px;
    padding-top: 20px;

    @include desktop {
      height: 800px;
      margin: 0 auto;
      padding-top: 52px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 0 20px;

    @include tablet {
      padding: 0 41px;
    }

    @include desktop {
      width: 100%;
      padding: 0 55px;
    }
  }

  &__logo {
    width: 46px;
    height: 28px;
  }

  &__button {
    position: relative;

    margin-left: auto;

    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &::after {
      content: "";

      position: absolute;
      bottom: -4px;
      left: 0;

      width: 67px;
      height: 2px;
      border-radius: 4px;

      background-color: $blue;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &__burger {
    cursor: pointer;

    width: 24px;
    height: 24px;
    margin-left: 32px;
    border: none;

    background-image: url('../images/icons/Menu.png');
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @include desktop {
      display: none;
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100vh;

    background-color: $grey;

    transform: translateX(-100%);


    transition:
      transform 0.8s ease,
      opacity 0.4s ease,
      visibility 0.4s ease;


    z-index: 1000;

    display: flex;
    flex-direction: column;
  }

  .menu:target {
    transform: translateX(0);

  }

  .menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 40px;
  }

  .menu__close {
    width: 20px;
    height: 20px;

    background-image: url('../images/icons/Icon-Close.png');
    background-repeat: no-repeat;
    background-position: center;
  }


  .menu__nav {
    padding: 80px 40px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font-base;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .menu__items {
    margin-bottom: 40px;
    position: relative;
    display: inline-block;

    transition: transform 0.4s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .menu__items::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;

    width: 0;
    height: 2px;

    background-color: #fff;

    transform: translateX(-50%);
    transition: width 0.4s ease;
  }

  .menu__items:hover::after {
    width: 100%;
  }

  .menu__footer {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 0 40px;
    margin-top: auto;
    margin-bottom: 100px;
  }

  .menu__title {
    font-family: $font-base;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 50%;
    margin-bottom: 16px;
  }

  .menu__text {
    font-family: $font-alt;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;

    margin-bottom: 32px;
  }

  .menu__icon {
    display: flex;
    flex-direction: row;
    height: 32px;
  }

  .icons {
    width: 32px;
    height: 32px;
    margin-right: 24px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .facebook {
    background-image: url('../images/icons/facebook.png');
  }

  .twitter {
    background-image: url('../images/icons/twitter.png');
    transition: transform 0.3s ease;

    &:hover {
      background-image: url('../images/icons/twitter-1.png');
    }
  }

  .instagram {
    background-image: url('../images/icons/instagram.png');
  }

  &__nav {
    display: none;
  }

  .header__container {
    display: grid;

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }

  }

  &__content {
    flex-direction: column;
    justify-content: center;

    margin-top: 48px;
    margin-bottom: 48px;
    padding: 0 20px;

    @include tablet {
      margin-top: 56px;
      padding: 0 41px;
    }

    @include desktop {
      grid-column: 1 / span 5;

      height: 355px;
      margin-top: 165px;
      margin-bottom: 0;
      padding: 0 55px;
    }

    .content__title {
      margin-bottom: 32px;

      font-size: 52px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -2px;

      @include tablet {
        margin-bottom: 24px;
        font-size: 64px;
        line-height: 68px;
      }

      @include desktop {
        margin-bottom: 32px;
      }
    }

    .content__paragraph {
      font-family: $font-alt;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0;
    }

    .content__button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 50px;
      margin-top: 72px;
      border-radius: $button-radius;

      font-size: 15px;
      font-weight: 600;
      color: #fff;

      background-color: $blue;

      transition: transform 0.3s ease, box-shadow 0.3s ease;

      @include tablet {
        width: 264px;
        margin-top: 56px;
      }

      @include desktop {
        margin-top: 83px;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__hero {
    width: 100%;

    @include desktop {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
    }
  }

  @media (min-width: 1024px) {
    &__nav {
      display: flex;
      height: 20px;
      margin-left: auto;
    }

    .nav__list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 13px;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .nav__items {
      display: flex;
      margin-left: 48px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.03);
        color: orange;
      }
    }
  }
}

.hero__photo {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 390px;
  border-radius: $border-radius;

  background-image: url('../images/background/hero_mb.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    background-image: url('../images/background/hero_tb.png');
  }

  @include desktop {
    height: 680px;
    margin-top: 48px;
    border-radius: 0;
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    background-image: url('../images/background/hero_desk.png');
  }

  @include wide {
    background-image: url('../images/background/wide.png');
  }

  @include ultra {
    background-image: url('../images/background/ultra.png');
  }
}

.hero__slider {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 20px;

  display: flex;
  flex-direction: column;

  width: 280px;
  height: 116px;
  margin-bottom: 24px;


  @include tablet {
    bottom: 0;
    left: 41px;
    margin-bottom: 24px;
  }

  @include desktop {
    bottom: 0;
    left: 48px;

    flex-direction: row;
    align-items: center;

    width: 370px;
    height: 68px;
    margin-bottom: 48px;
  }
}

.hero__arrow {
  display: flex;
  flex-direction: row;

  width: 80px;
  height: 32px;
  margin-bottom: 16px;

  @include desktop {
    margin-bottom: 0;
  }

  &--left {
    width: 32px;
    height: 32px;
    border: none;

    background-image: url('../images/icons/arrow-left.png');
    background-repeat: no-repeat;
  }

  &--right {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    border: none;

    background-image: url('../images/icons/arrow-right.png');
    background-repeat: no-repeat;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  color: #fff;

  @include desktop {
    margin-left: 24px;
  }

  .hero__tag {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .hero__text {
    font-family: $font-alt;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}
