.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 120px;

  @include tablet {
    padding: 0 40px 148px;
  }

  @include desktop {
    margin: 0 auto;
    padding: 0 55px 148px;
  }
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    max-width: 570px;
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;

    max-width: 1148px;
    height: 675px;
    max-height: 711px;
  }

  @include wide {
    column-gap: 30px;
    width: 1148px;
    height: 711px;
  }
}

.testimonials__title {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 100%;
  height: 84px;
  margin-bottom: 48px;

  @include tablet {
    grid-column: 1 / span 4;
    height: 132px;
    margin-bottom: 56px;
  }

  @include desktop {
    margin-bottom: 85px;
  }
}

.first__title {
  margin-bottom: 16px;

  font-family: $font-base;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  color: $title-grey;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.second__title {
  height: 48px;

  font-family: $font-base;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  color: $title-blue;
  letter-spacing: 0;
  vertical-align: middle;

  @include tablet {
    width: 200px;
    height: 96px;
  }
}

.testimonials__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border-radius: 16px;

  background-color: #fff;

  transition: transform 0.4s ease, box-shadow 0.4s ease;

  @include desktop {
    min-height: 456px;
  }

  @include wide {
    width: 362px;
  }
}

.testimonials__card:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.people-1 {
  margin-bottom: 24px;

  @include tablet {
    grid-column: 1 / -1;
    margin-bottom: 30px;
  }

  @include desktop {
    grid-column: 1 / span 4;
    margin-bottom: 0;
  }
}

.people-2 {
  margin-bottom: 24px;

  @include tablet {
    grid-column: 1 / -1;
    margin-bottom: 30px;
  }

  @include desktop {
    grid-column: 5 / span 4;
    margin-bottom: 0;
  }
}

.people-3 {
  @include tablet {
    grid-column: 1 / -1;
  }

  @include desktop {
    grid-column: 9 / span 4;
  }
}

.card__img-1 {
  width: 196px;
  height: 196px;
  margin-top: 32px;
  margin-bottom: 24px;

  background-image: url('../images/icons/people-1-mb.png');

  @include tablet {
    width: 250px;
    height: 250px;
    background-image: url('../images/icons/people-1-pc.png');
  }

  @include desktop {
    width: 196px;
    height: 196px;
    background-image: url('../images/icons/people-1-mb.png');
  }

  @include wide {
    width: 250px;
    height: 250px;
    background-image: url('../images/icons/people-1-pc.png');
  }
}

.card__img-2 {
  width: 196px;
  height: 196px;
  margin-top: 32px;
  margin-bottom: 24px;

  background-image: url('../images/icons/people-2-mb.png');

  @include tablet {
    width: 250px;
    height: 250px;
    background-image: url('../images/icons/people-2-pc.png');
  }

  @include desktop {
    width: 196px;
    height: 196px;
    background-image: url('../images/icons/people-2-mb.png');
  }

  @include wide {
    width: 250px;
    height: 250px;
    background-image: url('../images/icons/people-2-pc.png');
  }
}

.card__img-3 {
  width: 196px;
  height: 196px;
  margin-top: 32px;
  margin-bottom: 24px;

  background-image: url('../images/icons/people-3-mb.png');

  @include tablet {
    width: 250px;
    height: 250px;
    background-image: url('../images/icons/people-3-pc.png');
  }

  @include desktop {
    width: 196px;
    height: 196px;
    background-image: url('../images/icons/people-3-mb.png');
  }

  @include wide {
    width: 250px;
    height: 250px;
    background-image: url('../images/icons/people-3-pc.png');
  }
}

.card__comment {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 196px;
  margin: 0 42px 16px;

  @include tablet {
    width: 362px;
    margin: 0 auto 16px;
  }

  @include desktop {
    width: 196px;
    margin: 0 auto 16px;
  }

  @include wide {
    width: 250px;
    height: 96px;
  }
}

.quoute {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
  background-image: url('../images/icons/quoute.png');

  @include tablet {
      margin-bottom: 16px;
  }

  @include desktop {
      margin-bottom: 8px;
  }
}

.comment {
  font-family: $font-alt;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  color: $text;
  text-align: center;
  letter-spacing: 0;
}

.people__name {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 44px;
  margin-bottom: 32px;
}

.name {
  margin-bottom: 4px;

  font-family: $font-alt;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  color: $title-blue;
  text-align: center;
  letter-spacing: 0;
}

.job {
  font-family: $font-base;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  color: $title-grey;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  }
