$c-gray: #eee;
$blue: #2060F6;
$title-blue: #253757;
$light-grey: #F9FAFB;
$text: #6C788B;
$grey: #2C2C2C;
$title-grey: #C0CDD7;
$font-base: 'Poppins', sans-serif;
$font-alt: 'Open Sans', sans-serif;
$border-radius: 30px;
$button-radius: 8px;
